.header {
    width: 100%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
}
nav h1 {
    margin: 0;
    text-align: center;
}
.dropdown-options {
    display: none;
    padding: 8px 16px;
    position: absolute;
}
.dropdown:hover .dropdown-options {
    display: block;
}
.dropdown {
    position: relative;
}