header {
    width: 100%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
}
.nav-left,
.nav-center,
.nav-right {
    flex: 1;
}
.nav-center{
    text-align: center;
}
.nav-center h1{
    margin: 0;
}
.nav-left img{
    height: 40px;
}
.nav-right {
    display: flex;
    justify-content: flex-end;
}
.dropdown-options {
    display: none;
    padding: 8px 16px;
    position: absolute;
}
.dropdown:hover .dropdown-options {
    display: block;
}
.dropdown {
    position: relative;
}